
@{
    Layout = null;
    book.Model.T_Base_Book item = ViewBag.book;
}

<!DOCTYPE html>


<div class="pageContent">
    <form method="post" action="/book/updatesave" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <div class="pageFormContent" layoutH="56">
            <input name="Id" type="hidden" value="@item.Id"/>
            <p>
                <label>书名</label>
                <input name="BookName" type="text" size="30" value="@item.BookName"/>
            </p>
            <p>
                <label>编号</label>
                <input name="Code" class="required" type="text" size="30" value="@item.Code"/>
            </p>
            <p>
                <label>价格</label>
                <input type="text" class="required" name="Price" size="30" value="@item.Price"/>
            </p>
            <p>
                <label>作者</label>
                <input type="text" name="Author" class="textInput" value="@item.Author">
            </p>
            <p>
                <label>出版年月</label>
                <input name="PYear" class="date " type="text" size="30" value="@item.PYear.ToString("yyyy-MM-dd")"/>
            </p>
            <p>
                <label>版本</label>
                <input name="Version" type="text" size="30" value="@item.Version"/>
            </p>
            <p>
                <label>图片</label>
                <input name="Pic" type="text" size="30" value="@item.Pic"/>
            </p>

        </div>
        <div class="formBar">
            <ul>
                @*<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>*@
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
